body{
    margin: 0;
    background-color: darkseagreen;
}
header{
    background-color: #30477e;
    padding: 10px;
}
h1, h2, p, a{
    font-family: inherit;
    font-weight: bold;
    text-decoration: none;
    color: #303030;
}
h1 {
    color: white;
    text-align: center;
}
form {
    font-weight: bold;
    color: #303030;
    padding: 10px;
    border: 1px solid grey;
}
.left{
    background-color: aliceblue;
    float: left;
    width: 60%;
    padding: 30px 30px 30px 170px;
}
.right{
    float: left;
    width: 20%;
    padding: 10px;
}
.right p{
    margin: 1px;
}
form{
    margin: 10px;
}
input{
    margin: 3px 0 3px 0;
}
footer{
    background-color: cadetblue;
    padding: 80px;
    clear: both;
}
footer p{
    font-weight: normal;
}
#canvas{
    width: 800px;
    height: 650px;
    border: 1px solid black;
    background-color: white;
}
